{% load enroll_template_tags %}
{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'core:index' %}" target="">
        <img class="d-none d-sm-block" src="{% static 'img/SCMA-web-logo.png' %}" style="width: 150px; height: 50px;"alt="web-logo">
        <span class="blue-text d-sm-block d-md-none">SCMA GUYANA</span>
    </a>

    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'core:index' %}"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'core:course' %}"><i class="fas fa-book"></i>Courses</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link waves-effect" href=""><i class="fas fa-chalkboard-teacher"></i>About</a>
          </li> 
      </ul>
      <!-- Left -->

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">


        <li class="nav-item  d-none d-sm-block">
          <!--Search Form-->
          <form class="form-inline search-bar p-2 mr-2">
            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-md btn-primary btn-rounded my-2 my-sm-0" type="submit">Search</button>
          </form>
          <!--Search Form-->
        </li>

        {% if request.user.is_authenticated %}
    <li class="nav-item">
          <a class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1">{{ request.user|enroll_course_count }}</span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>

        <!--logout-->
        <li class="nav-item mr-sm-3">
          <a href="{% url 'account_logout' %}" class="nav-link text-white btn btn-sm btn-danger waves-effect"
            target="">
            Logout
          </a>
        </li>
        <!--logout-->

        {% else %}
        
        <!--login-->
        <li class="nav-item mr-2 pb-2">
          <a class="nav-link btn btn-md btn-rounded btn-outline-info waves-effect" href="{% url 'account_login' %}">
            <span class=""> Login </span>
          </a>
        </li>
        <!--login-->
         
        <!--signup--> 
        <li class="nav-item pb-2">
          <a href="{% url 'account_signup' %}" class="nav-link btn btn-md btn-rounded btn-outline-secondary waves-effect"
            target="">
            SignUp
          </a>
        </li>
        <!--signup--> 

        {% endif %}
        

        <!-- <li class="nav-item">
          <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
      </ul> -->
      <!-- Right -->
      

    </div>

  </div>

</nav>
<!-- Navbar -->