{% load static %}
<!-- SCRIPTS -->
<!-- JQuery -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Feather Icons -->
<script src="https://unpkg.com/feather-icons"></script>
  
<!-- Chart js -->
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>

<!-- Jquery -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Material Design Javascript -->
<script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/underline_scroll.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/active-state-nav.js' %}"></script> -->
<!-- Initializations -->
<script type="text/javascript">
  // Animation init
  new WOW().init();



  // Material Select Initialization
  $(document).ready(function () {
    $('.mdb-select').material_select();
  });

</script>